header {
    background-color: #0082b3;
}
.titlebar {
    background-color: #0082b3;
    height: 10%;
}
#icao {
    font-family: monospace;
    text-align: left;
    float: left;
}
#time {
    border: black 1px solid;
    font-family: monospace;
    text-align: center;
    float: left;
    position: absolute;
    left: 48.5%;
    /*TODO: vernünftig zentrieren*/
}
.devide {
    background-color: lightskyblue;
    height: 10px;
    clear: left;
    margin-bottom: 10px;
}
#state {
    text-align: center;
    margin: 0 auto;
    width: 5%;
    border: black 2px double;

}